apiVersion: v1
kind: Service
metadata:
  name: coredns
  annotations:
    argocd.argoproj.io/sync-wave: "10"
    metallb.io/loadBalancerIPs: 192.168.20.90
spec:
  type: LoadBalancer
  selector:
    app: coredns
  ports:
    - name: udp
      protocol: UDP
      port: 53
    - name: tcp
      protocol: TCP
      port: 53
