apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: ztunnel
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    namespace: istio-system
    includeCRDs: true
